@charset "utf-8";

*::before,*::after{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}

body{height: 100vh;width: 100vw;margin:0 auto;padding:0;overflow: hidden;}
section{height: 100%;width: 100%;background-color: #4a1505;}
p{text-align: center;}
.bgi1{background: url(bgi1.png) center/cover;}
.bgi2{background: url(bgi2.png) center/cover;}
.bgi3{background: url(bgi3.png) center/cover;}
.bgi4{background: url(bgi4.jpg) center/cover;}

.can-wrapper
{
width:100%;
height: 100%;

/*margin:0 auto;*/
/*border: 8px solid #9b5726;*/
}
.can{
	border: 1.5vw solid #b38e44;
	max-height: 80vh;
	width: 100%;max-width: 97vw;
	}
	
.control
    {
        /*height: 10%;*/
        max-height: 20vh;
        /*min-height: 20vh;*/
        height: 100%;
        width: 100%;
        max-width: 97vw;
        padding-top: 1%;
        padding-bottom: 1.5%;
        margin-top: -1.5%;
        background-color: #9b5726;
        border: 1.5vw dashed #a2360f;
    }
.buttonwrap
    {
    		width: 100%;
    		height: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /*vertical-align: middle;*/
    }
.control button
    {
    /*position: relative;*/
    background-color: #fff884;
    height: 100%;
    width:  20%;
    -webkit-box-shadow: 0px 5px 0px -1px rgb(134 40 11);
    -moz-box-shadow: 0px 5px 0px -1px rgb(134 40 11);
    box-shadow: 0px 5px 0px -1px rgb(134 40 11);
    }
.left{position: relative;}
.right{position: relative;}
.down{position: relative;}

.fas
    {font-size: 70px;
    color: #ad5928;}
.fa-caret-left
    {
    position: absolute;
    /*top:-10%;*/
    /*left:22%*/
    top: 51%;
		left: 42%;
		transform: translate(-50%, -50%);
		}
.fa-caret-right
    {
    position: absolute;
    /*top:-10%;*/
    /*left:38%*/
    top: 51%;
		left: 58%;
		transform: translate(-50%, -50%);
    }
.fa-sort-down
    {
   	position: absolute;
    /*top:-26%;*/
    /*left:13%;*/
    top: 36%;
		left: 50%;
		transform: translate(-50%, -50%);
    }
.fa-redo-alt
    {
        padding-top: 7%;
        font-size: 38px;
    }
    
/*PC*/
@media screen and (min-width:601px){
    .can-wrapper{max-width:500px;margin:0 auto;}
    .off{display: none;}
}


