@charset "utf-8";

*::before,*::after{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}

body{margin:0;padding:0;}
.can{
    /*width: 100%;*/
    /*border: 9px solid #9b5726;*/
    }
.bgi1{background: url(bgi1.png) center/cover;}
.bgi2{background: url(bgi2.png) center/cover;}
.bgi3{background: url(bgi3.png) center/cover;}
.bgi4{background: url(bgi4.jpg) center/cover;}

.can-wrapper
{
width:100vw;
height: 92vh;
margin:0 auto;
/*border: 8px solid #9b5726;*/
}
.can{
	border: 1.5vw solid #c87bd6;
	width: 97vw;
	height: 75vh;
	}
	
.control
    {
        height: 14vh;
        width: 97vw;
        padding-top: 3%;
        margin-top: -1.5%;
        background-color: #9b5726;
        border: 1.5vw solid #cbab7b;
    }
.buttonwrap
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        vertical-align: middle;
    }
.control button
    {
    /*position: relative;*/
    background-color: #fff884;
    height: 12vh;
    width:  12vh;
    -webkit-box-shadow: 0px 5px 0px -1px rgb(134 40 11);
    -moz-box-shadow: 0px 5px 0px -1px rgb(134 40 11);
    box-shadow: 0px 5px 0px -1px rgb(134 40 11);
    }
.left{position: relative;}
.right{position: relative;}
.down{position: relative;}

.fas
    {font-size: 30vw;
    color: #ad5928;}
.fa-caret-left
    {
    position: absolute;
    /*top:-10%;*/
    /*left:22%*/
    top: 51%;
		left: 42%;
		transform: translate(-50%, -50%);
		}
.fa-caret-right
    {
    position: absolute;
    /*top:-10%;*/
    /*left:38%*/
    top: 51%;
		left: 58%;
		transform: translate(-50%, -50%);
    }
.fa-sort-down
    {
   	position: absolute;
    /*top:-26%;*/
    /*left:13%;*/
    top: 36%;
		left: 50%;
		transform: translate(-50%, -50%);
    }
.fa-redo-alt
    {
        padding-top: 7%;
        font-size: 16vw;
    }


@media screen and (min-width:601px){
    .can-wrapper{width:300px;margin:0 auto;height: auto;}
    .off{display: none;}
    .can{margin-bottom: -5px;}
}


